:root {
  --pry-color: hsl(345, 6%, 13%);
  --sec-color: hsl(299, 58%, 31%);
  --sec-dark-color: hsl(322, 100%, 14%);
  --dark: hsl(309, 76%, 3%);
  --light: hsl(348, 100%, 99%);
  --gray: hsl(13, 4%, 42%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  width: 100%;
  display: flex;
  flex-direction: column;
}

img,
svg {
  display: block;
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  color: var(--light);
  text-decoration: none;
  font-size: 0.8rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--sec-color);
}
p {
  font-size: 1rem;
  font-weight: 400;
}
h5 {
  font-size: 1.4rem;
  font-weight: 400;
}
.btn-pry {
  padding: 1em 3em;
  background-color: var(--pry-color);
  color: var(--light);
  font-size: 0.8rem;
  outline: none;
  border: 1px solid var(--light);
  border-radius: 6px;
  text-align: center;
}
.btn-pry:hover {
  background-color: var(--sec-color);
  color: var(--light);
  font-size: 0.8rem;
  outline: none;
  border: 1px solid var(--light);
  border-radius: 6px;
  text-align: center;
}

.btn-sec {
  padding: 1em 3em;
  background-color: var(--sec-color);
  color: var(--light);
  font-size: 0.8rem;
  border-radius: 6px;
  outline: none;
  border: none;
  text-align: center;
  a {
    color: var(--light);
  }
}

.btn-opt {
  padding: 1em;
  background-color: black;
  color: var(--light);
  font-size: 0.8rem;
  outline: none;
  border-radius: 6px;
}

.btn-not-active {
  padding: 1em;
  background-color: var(--light);
  box-shadow: 0px 3px 9px rgb(57, 20, 0, 08);
  color: var(--Dark);
  font-size: 0.8rem;
  outline: none;
  border-radius: 6px;
}
